/* 
navbar color/box shadow color #232e21
primary color #619B8A
secondary color #a1c181
accent color yellow #FCCA46
accent color orange #FE7F2D

font color #ebebe1
*/

body {
  font-size: 16px;
  background-color: #619b8a;
  color: #ebebe1;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* navbar */
.navbar {
  background-color: #232e21;
  color: #202619;
  box-shadow: 0 2px 5px #000000;
  font-size: 18px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.navbar a {
  background-color: #a1c181;
  border: none;
  color: inherit;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
/* anchor tags */
.navbar a:hover {
  background-color: #fe7f2d;
}

.navbar a:active {
  background-color: #fe7f2d;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 1px;
    width: 45%;
  }
}
